.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.input-group {
    position: relative;
    margin: 10px 0 10px 0;
    font-family: "Quicksand", sans-serif;
}

.input-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    color: #a0aec0;
}

.input-group input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 3rem;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #1f2226;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input-group input::placeholder {
    color: #a0aec0;
}

.input-group input:focus {
    outline: none;
    border-color: #3182ce;
    box-shadow: 0 0 0 2px rgba(49, 130, 206, 0.3);
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    margin-top: 5px;
    background: #EA4D88;
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: "Quicksand", sans-serif;
}

.spin {
    position: absolute;
    left: 50%;
}